@import url(./style.css);

.newheader {
    background: transparent;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .newhead {
        width: 90%;
        margin: auto;
        border: 0;
        padding: 0 20px;
        border-radius: 100px;
    }

    .left {
        background-color: rgb(6, 32, 71, 0.75);
        padding: 10px 15px;
        margin: auto 0;
        max-width: fit-content;

        img {
            width: 115px;
        }
    }

    .right {
        margin: auto 0;

        i {
            background-color: var(--primary-color);
            margin: auto 0;
            padding: 10px;
            border-radius: 0 25px 25px 0;
        }

        p {
            padding: 2px 12px;
            border-radius: 25px 0 0 25px;
            background-color: var(--fourth-color);
            margin: auto 0 !important;
        }

        a {
            color: var(--fifth-color) !important;
        }
    }
}

.newheader.scrolled {
    background-color: var(--third-color);

    a {
        color: var(--fourth-color) !important;
    }

    .right a {
        color: #141414 !important;
    }
}

.navigate {
    margin: auto 0;

    ul {
        display: flex;
        list-style-type: none;
        gap: 10px;
        margin-bottom: 0;
        background-color: transparent;
        justify-content: center;
    }

    nav ul li a.active {
        color: var(--primary-color) !important;
        background-color: #fff;
    }

    a {
        color: var(--fifth-color) !important;
        transition: border-color 0.5s ease-in-out;
        padding: 5px 13px;
        border-radius: 5px;
    }

    li {
        background-color: transparent;
        margin: 0;
        padding: 0 5px;
        cursor: pointer;
    }

    li:hover {
        a {
            color: var(--primary-color) !important;
            background-color: var(--fourth-color);
        }
    }
}

form {
    .pass {
        margin: auto 0 auto auto;
        gap: 10px;
    }

    .radio {
        display: flex;
        gap: 20px;

        input {
            width: 15px;
            margin-left: 0 !important;
        }

        label {
            margin-top: 0;
            margin-left: 20px;
        }
    }

    ::placeholder {
        color: var(--fifth-color);
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }

    div {
        gap: 5px;
    }

    .dropdown-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .dropdown-input {
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .dropdown-content {
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group:last-child {
        border-bottom: none;
    }

    .dropdown-content label {
        margin-right: 10px;
    }

    .qty {
        cursor: pointer;
        width: 30px;
        text-align: center;
    }

    .qtyminus,
    .qtyplus {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        font-size: 18px;
    }

    .dropdown-content input[type="text"] {
        width: 50px;
        text-align: center;
    }

    .form-control {
        border: 1px solid #cacaca;
        padding: 10px 12px !important;
    }
}

.herobg {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: var(--fourth-color);
        text-shadow: none;
    }
}

.contact {
    form {
        margin-top: 10px;

        button {
            width: 100px;
        }

        input {
            padding: 15px;
            border: 1px solid #cacaca;
            border-radius: 5px;
        }
    }

    .right {
        background-color: var(--primary-color);
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 35%;

        h2 {
            color: var(--fourth-color) !important;
            padding: 5px;
            border-bottom: 1px solid #cacaca;
        }

        h3 {
            background-color: var(--fourth-color);
            border-radius: 50px;
            margin: auto 0;
            z-index: 1;
            color: var(--primary-color) !important;
        }

        p {
            background-color: var(--primary-color);
            color: var(--fourth-color);
            padding: 0 20px;
            border-radius: 0 30px 30px 0;
            margin-left: -10px !important;
            border: 1px solid #fff;
        }

        .flex {
            margin-top: 10px;
        }

        a,
        a:hover {
            color: var(--fourth-color);
        }
    }

    h3,
    p {
        margin: auto 0 !important;
    }
}

.cta {
    background-color: var(--secondary-color);
    padding: 15px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    margin: 10px;
    border-radius: 10px;

    i {
        background-color: var(--third-color);
        color: var(--fourth-color);
        padding: 10px;
        border-radius: 100%;
    }

    div {
        margin: auto 0;
    }

    h3,
    p {
        margin: auto 0 !important;
        color: var(--fourth-color) !important;
        padding: 0 !important;
        line-height: 1.5;
    }

    h4 {
        color: var(--fourth-color) !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.5;
    }
}

.VootBanner {
    background-image: url(../images/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .innervootbg {
        background-image: url(../images/home-bg.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .mainformcol {
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.2);
        border-radius: 10px;
    }

    .row {
        padding-top: 150px;
    }

    h1 {
        color: var(--fifth-color) !important;
        background-color: rgb(255, 255, 255, 0.9);
        padding: 10px 15px;
        border-radius: 10px 10px 0 0;
        border-bottom: 1.5px solid var(--secondary-color);
    }

    .col3 {
        gap: 10px;

        label {
            margin-left: 12px;
            font-size: 14px;
            font-weight: 700;
            background-color: var(--fourth-color);
            z-index: 9;
            position: relative;
            padding: 0 5px;
            border-radius: 5px;
        }

        ::placeholder {
            color: #676767;
        }

        .grid {
            gap: 10px;
        }

        .column,
        div {
            flex: 1;
        }

        button {
            width: fit-content;
            margin: auto 0;
            background-color: var(--third-color);
            color: var(--fourth-color);
        }

        button:hover {
            background-color: var(--secondary-color);
            color: var(--fifth-color);
        }

        input,
        .form-control {
            border: 1px solid #9d9d9d;
            margin: 0;
            padding-left: 35px !important;
            margin-top: -11px;
            background-color: transparent;
            background-position-x: 10px;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: 17px;
        }

        .form-control {
            padding-block: 0 !important;
            border: none;
        }

        .dropdown-container {
            max-width: fit-content;
        }

        #flying_from {
            background-image: url(../images/departure.png);
        }

        #flying_to {
            background-image: url(../images/arrivals.png);
        }

        #from,
        #to {
            background-image: url(../images/cdate.png);
        }

        .form-control {
            background-image: url(../images/passengers.png);
        }

        #pass-info {
            justify-content: end;
            display: flex;
            margin: auto 0;
        }
    }

    form {
        padding: 15px;
        background-color: rgb(241, 241, 241, 0.95);
        border-radius: 0 0 10px 10px;
    }
}

.usps {
    text-align: center;

    .row {
        padding-block: 40px;
    }

    i {
        color: var(--primary-color);
        background-color: var(--third-color);
        padding: 10px;
        border-radius: 10px;
    }
}

.Vootgallery {
    img {
        width: 100%;
    }

    .grid {
        gap: 15px;
    }
}

.vootdestinations {
    .innercol {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(20, 20, 20, 0.2);
        height: 250px;
        display: grid;
        align-items: end;

        h3,
        p {
            color: var(--fourth-color) !important;
        }
    }

    .innercol:hover {
        p {
            margin-left: 25px !important;
            color: var(--primary-color) !important;
        }
    }

    .row {
        padding-top: 0;
    }
}

.vootroutes {
    .innercol {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(20, 20, 20, 0.2);
        height: 200px;
        display: grid;
        align-items: end;

        h3 {
            color: var(--fourth-color) !important;
        }

        hr {
            border: 1px solid var(--primary-color);
            flex: 1;
            margin-block: auto;
        }
    }

    .innercol:hover {
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.2);
    }
}

.vootpackages {
    background-color: #FCEAEA;

    img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    h3 {
        flex: 1;
    }

    .flex {
        padding: 15px;
        gap: 10px;
    }

    .innercol {
        border-radius: 10px;
        background: var(--fourth-color);
    }
}

.vootnewsletter {
    background-image: url(../images/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    form {
        display: flex;
        gap: 10px;

        button {
            margin: auto 0;
            width: fit-content;
        }
    }
}

.vootticketbook {
    background-color: #f7f7f7;

    .innerrow {
        .column {
            border-radius: 5px;
            box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.1);
            padding: 15px;
            border: 1px solid transparent;
            cursor: pointer;
            grid-template-columns: repeat(4, 1fr);
            display: grid;
            gap: 10px;
        }

        button {
            background-color: transparent;
            border: 1.5px solid var(--primary-color);
            color: var(--primary-color);
        }

        .column:hover {
            border-color: var(--primary-color);

            button {
                background-color: var(--primary-color);
                color: var(--fourth-color);
            }
        }

        .contentcol {
            grid-column: span 3;
            border-right: 2px solid #cacaca;
            padding-right: 10px;
        }

        p {
            font-size: 14px;
        }

        img {
            width: 20px;
        }

        .flighthead {
            p:first-child {
                flex: 1;
            }

            p:last-child {
                background-color: var(--fifth-color);
                color: var(--fourth-color);
                padding-inline: 10px;
                border-radius: 25px;
            }
        }

        .flex {
            div:nth-child(2) {
                flex: 1;
                text-align: center;

                p {
                    line-height: 1.5;
                    font-size: 12px;
                }
            }

            div:last-child {
                text-align: right;
            }

            div {
                margin: auto 0;
            }

            hr {
                margin-block: 0;
            }
        }
    }
}